interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.telegram.org/bot123:abc/getMe
  response:
    body: {string: !!python/unicode '{"ok":true,"result":{"id":123,"first_name":"Test-Bot","username":"TestBot"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.telegram.org/bot123:abc/getUpdates?timeout=600&offset=0
  response:
    body: {string: !!python/unicode '{"ok":true,"result":[{"update_id":970865985,

        "message":{"message_id":73,"from":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser"},"chat":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser","type":"private"},"date":1462057648,"text":"Test
        1"}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: text=Parrot+Says%3A+Test+1&chat_id=8282
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.telegram.org/bot123:abc/sendMessage?data=text&data=chat_id
  response:
    body: {string: !!python/unicode '{"ok":true,"result":{"message_id":74,"from":{"id":123,"first_name":"Test-Bot","username":"TestBot"},"chat":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser","type":"private"},"date":1462057648,"text":"Parrot
        Says: Test 1"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.telegram.org/bot123:abc/getUpdates?timeout=600&offset=970865986
  response:
    body: {string: !!python/unicode '{"ok":true,"result":[{"update_id":970865986,

        "message":{"message_id":75,"from":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser"},"chat":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser","type":"private"},"date":1462057662,"text":"\/command
        test","entities":[{"type":"bot_command","offset":0,"length":8}]}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: text=Command+Received%3A+test&chat_id=8282
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.telegram.org/bot123:abc/sendMessage?data=text&data=chat_id
  response:
    body: {string: !!python/unicode '{"ok":true,"result":{"message_id":76,"from":{"id":123,"first_name":"Test-Bot","username":"TestBot"},"chat":{"id":8282,"first_name":"Test","last_name":"User","username":"TestUser","type":"private"},"date":1462057662,"text":"Command
        Received: test"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.telegram.org/bot123:abc/getUpdates?timeout=600&offset=970865988
  response:
    body: {string: !!python/unicode '{"ok":true,"result-killer":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: OK}
version: 1
